nav{
    display: flex;
    justify-content: space-between;
}



.content{
    background-color: rgb(26, 50, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h2{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
}


.container h2{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.form{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center;
}


.card{
    background-color: rgb(2, 10, 24);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.card a{
    text-decoration: none;
}

.card-body{
    color: white;
}


.card:hover{
    filter:drop-shadow(8px 8px 10px rgb(19, 19, 19));
}

.search-results{
    display: flex;   
}

