
{% macro renderTopHighlight(article_list)%}

    {% for article in article_list %}
      <div class="card m-3" style="max-width: 540px;">
        <a href="{{article.url}}" class="nounderline">

        <div class="row g-0">
          <div class="col-md-4" >
            <img src="{{ article.image }}" class="img-fluid rounded-start" style="height:auto" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{article.title |truncate(30)}}</h5>
              <p class="card-text">{{article.description}}</p>
              <!-- <a href="{{article.url}}">Read More</a> -->
              <p class="card-text"><small class="text-muted">Published: {{article.publishedAt}}</small></p>
            </div>
          </div>
        </div>
      </a>

      </div>

    {% endfor %}

{% endmacro %}


<!-- Displaying categories macro -->
{% macro renderSourceCategories(source_categories_list) %}
    {% for category in source_categories_list %}
      <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ category.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ category.description }} </h6>
          <p class="card-text">{{ category.url }}</p>
          <h6 class="card-subtitle mb-2 text-muted"> </h6>
          <a href="{{ category.language }}{" class="card-link">Source link</a>
        </div>
      </div>
    {% endfor %}
{% endmacro %}




