{% extends 'base.html'%}
{% import 'macros.html' as macro%}

   
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/macros.css')}}">
{% endblock %}

{% block sources %}

<div class="container-fluid">
      <div class="container">
    
        <!-- genera; -->
        <div class="row d-flex">
            <ul>
                {{ macro.renderTopHighlight(bbc)}}

            </ul>
        </div>

        <div class="row d-flex">
          <ul>
              {{ macro.renderTopHighlight(cnn)}}

          </ul>
        </div>

        <div class="row d-flex">
          <ul>
              {{ macro.renderTopHighlight(abc)}}

          </ul>
        </div>

        <div class="row d-flex">
          <ul>
              {{ macro.renderTopHighlight(fox)}}

          </ul>
        </div>


        <div class="row d-flex">
          <ul>
              {{ macro.renderTopHighlight(mtv)}}

          </ul>
        </div>
       
       
    
     </div>  
</div>

    
            
    
    

{% endblock %}