{% extends 'base.html'%}
{% import 'macros.html' as macro%}

   
{% block styles%}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid content">
      <div class="container">
        {% if h2 %}
        <h2> {{ h2 }}</h2>
        {% endif %}
    
        <div class="row d-flex">
            {{ macro.renderTopHighlight(bbc)}}

        </div>

        <div class="row d-flex">
            {{ macro.renderTopHighlight(cnn)}}

        </div>

        <div class="row d-flex">
              {{ macro.renderTopHighlight(abc)}}

        </div>

        <div class="row d-flex">
              {{ macro.renderTopHighlight(fox)}}

        </div>


        <div class="row d-flex">
              {{ macro.renderTopHighlight(mtv)}}

        </div>   
     </div>  
</div>

    
            
    
    

{% endblock %}